/*-- scss:defaults --*/

// Colors
$azul-oscuro: #1e2c46;
$naranja-oscuro: #de6f41;
$gris-claro: #889fbf;
$gris-oscuro: #4d6080;

// Base document color
$body-color: $gris-oscuro; // page text

// Inline code
$code-bg: $gris-claro;

// Code blocks
