/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;800&display=swap');

// Colors
$azul-oscuro: #1e2c46;
$naranja-oscuro: #de6f41;
$naranja-claro: #FFE0B2;
$gris-claro: #889fbf;
$gris-oscuro: #4d6080;

// Base document color
$body-color: $gris-oscuro; // page text

// Inline code
$code-bg: $naranja-claro;
$code-color: $naranja-claro;

// Code blocks
$code-block-bg: $naranja-claro;

// Aditional
$link-color: $naranja-oscuro;
$link-hover-color: $naranja-oscuro;

// Cambiar el color de los botones al hacer hover
.btn:hover {
  background-color: $naranja-claro;
  border-color: $naranja-oscuro;
  color: $azul-oscuro;
}

a:hover {
  background-color: $naranja-claro;
  border-color: $naranja-oscuro;
  border-bottom: 2px solid $naranja-oscuro;
  color: $naranja-oscuro;
}

div.quarto-about-trestles .about-entity .about-link:hover {
  background-color: $naranja-oscuro;
  border-color: $naranja-claro;
  border-bottom: 2px solid $azul-oscuro;
  color: $azul-oscuro;
}

a.nav-link:hover {
  background-color: $naranja-oscuro;
  border-color: $naranja-claro;
  border-bottom: 2px solid $azul-oscuro;
  color: $azul-oscuro;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px $naranja-oscuro, 0 4px 8px $naranja-claro;
}

.quarto-grid-link:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px $naranja-oscuro, 0 4px 8px $naranja-claro;
}

code {
    background-color: $naranja-claro !important;
}