/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;800&display=swap');

// Colors
$azul-oscuro: #1e2c46;
$naranja-oscuro: #de6f41;
$naranja-claro: #FFE0B2;
$gris-claro: #889fbf;
$gris-oscuro: #4d6080;
$gris-base: #9db4d3;
$blanco-codigo: #eff6fe;

// Base document color
$body-color: $gris-oscuro; // page text

// Inline code
$code-bg: $naranja-claro; // The background color of inline code. Defaults to a mix between the body-bg and body-color.
$code-color: $azul-oscuro; // The text color of inline code. Defaults to a generated contrasting color against the code-bg.

// Code blocks
$code-block-bg: $blanco-codigo;

// Aditional
$link-color: $naranja-oscuro;
$link-hover-color: $naranja-oscuro;

// The color used for the copy button at the top right of code blocks
$btn-code-copy-color: $azul-oscuro;
// The hover color used for the copy button at the top right of code blocks.
$btn-code-copy-color-active: $naranja-oscuro;
// By default, Quarto does not display a left border on code blocks. Set this variable to a truthy value or a CSS color to enable the left border.
$code-block-border-left: $naranja-oscuro;

// Cambiar el color de los botones al hacer hover
.btn:hover {
  background-color: $naranja-oscuro;
  border-color: $naranja-oscuro;
  color: $azul-oscuro;
}

a:hover {
  background-color: $naranja-oscuro;
  border-color: $naranja-oscuro;
  border-bottom: 2px solid $naranja-oscuro;
  color: $azul-oscuro;
}

div.quarto-about-trestles .about-entity .about-link:hover {
  background-color: $naranja-oscuro;
  border-color: $naranja-claro;
  border-bottom: 2px solid $azul-oscuro;
  color: $azul-oscuro;
}

a.nav-link:hover {
  background-color: $azul-oscuro;
  border-color: $naranja-claro;
  border-bottom: 2px solid $azul-oscuro;
  color: $naranja-oscuro;
}

a.quarto-grid-link:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px $naranja-oscuro, 0 4px 8px $naranja-claro;
}

.navbar-toogler:hover{
  background-color: $naranja-oscuro;
  border-color: $naranja-claro;
  border-bottom: 2px solid $azul-oscuro;
  color: $azul-oscuro;
}

div.quarto-grid-item:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px $naranja-oscuro, 0 4px 8px $naranja-claro;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px $naranja-oscuro, 0 4px 8px $naranja-claro;
}

// Change color of pagination buttons
.page-item .page-link {
    background-color: $naranja-oscuro;
    color: $azul-oscuro;
}

.page-item.active .page-link {
    background-color: $azul-oscuro;
    color: $naranja-oscuro;
}

.page-item.active .page-link:hover {
    background-color: $gris-claro;
    color: $azul-oscuro;
}

.page-item .page-link:hover {
    background-color: $gris-claro;
    color: $azul-oscuro;
}
